<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Must go here due to a bug with putting fragments in head. -->
	<link rel="icon" type="image/x-icon" href="img/icon.ico"></link>
</head>
<section th:replace="fragments/head :: head(Login)"></section>
<body>
	<section th:replace="fragments/nav :: nav(Login)"></section>

	<div class="login-page">
		<div class="container">
			<div class="alert alert-dismissable alert-success"
				th:if="${not #strings.isEmpty(status)}">
				<p th:text="${status}">|Login Status|</p>
			</div>

			<div class="alert alert-dismissable alert-danger bad-login"
				th:if="${errors != null and not #lists.isEmpty(errors)}">
				<!--/*/ <th:block data-th-each="error : ${errors}"> /*/-->
				<p th:text="${error.message}">|Error message here.|</p>
				<!--/*/ </th:block> /*/-->
			</div>

			<div class="agileits_mail_grids">
				<div class="col-md-8 agileits_mail_grid_left">
					<form method="post" role="form">
						<div th:each="field : ${form.fields}">
							<th:block th:if="${field.type == 'hidden'}">
								<input th:name="${field.name}" th:type="${field.type}"
									th:value="${field.value}" />
							</th:block>
							<th:block th:if="${field.type != 'hidden'}">
								<h4 th:text="${field.label}">|Field label|</h4>
								<input th:name="${field.name}"
									th:value="${field.value}"
									th:placeholder="${field.placeholder}"
									th:required="${field.required}"
									th:type="${field.type}" 
									formnovalidate="true" />
							</th:block>
						</div>
						<div>
							<h1>
								<button type="submit" class="label label-default"
									th:text="#{stormpath.web.login.form.button.value}">|Login|
								</button>
							</h1>
						</div>
					</form>
				</div>
				<div class="col-md-4 agileits_mail_grid_right"></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<section th:replace="fragments/js"></section>
</body>
</html>