<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Must go here due to a bug with putting fragments in head. -->
<link rel="icon" type="image/x-icon" href="img/icon.ico"></link>

<!-- Page-specific CSS / JS -->
<link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"></link>
<script th:src="@{js/form.js}"></script>
</head>
<section th:replace="fragments/theme/head :: head('Character Sheet')"></section>
<body>
	<section th:replace="fragments/theme/nav('Character Sheet')"></section>

	<div class="single">
		<div class="container">

			<div class="w3_single_grid">
			
				<!-- Edit Buttons -->
				<div th:switch="${editMode}">
					<div th:case="false" class="wthree_element_grid2">
						<form id="editForm" method="post" th:action="@{/editCharacterSheet}">
							<h1>
								<button id="editBtn" type="submit"
									class="label label-default">Edit</button>
							</h1>
						</form>
					</div>

					<div th:case="*" class="wthree_element_grid2">
						<h1>
							<button id="saveBtn" onclick="postForm('#saveForm');"
								class="label label-default">Save</button>
						</h1>

						<form id="cancelForm" method="get" th:action="@{/characterSheet}">
							<h1>
								<button id="cancelBtn" type="submit"
									class="label label-default">Cancel</button>
							</h1>
						</form>
					</div>
				</div>

				<!-- Character Info -->
				<form id="saveForm" method="post" th:action="@{/characterSheet}" th:object="${characterSheetValidator}">
					<div class="col-md-6">
						<table class="table table-hover lower">
							<thead>
								<tr>
									<th>Attribute</th>
									<th th:if="${editMode == true}">Base Value</th>
									<th th:if="${editMode == true}">Enhancement Value</th>
									<th id="totalHeader" th:if="${editMode == false}">Total Value</th>
									<th>Mod</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:with="strTotal = ${(character?.charSheet?.strengthBase) + (character?.charSheet?.strengthEnhance)}">
									<td>Strength</td>
									<td id="strTotal" th:if="${editMode == false}" th:text="${strTotal}"></td>
									<td id="strBase" th:if="${editMode == true}"><input onblur="calculateEditModeMods();" th:field="*{strengthBase}" th:placeholder="${character?.charSheet?.strengthBase}" /></td>
									<td id="strEnhance" th:if="${editMode == true}"><input onblur="calculateEditModeMods();" th:field="*{strengthEnhance}" th:placeholder="${character?.charSheet?.strengthEnhance}" /></td>
									<td id="strMod"></td>
								</tr>
								<tr th:with="dexTotal = ${(character?.charSheet?.dexterityBase) + (character?.charSheet?.dexterityEnhance)}">
									<td>Dexterity</td>
									<td id="dexTotal" th:if="${editMode == false}" th:text="${dexTotal}"></td>
									<td id="dexBase" th:if="${editMode == true}"><input onblur="calculateEditModeMods();" th:field="*{dexterityBase}" th:placeholder="${character?.charSheet?.dexterityBase}" /></td>
									<td id="dexEnhance" th:if="${editMode == true}"><input onblur="calculateEditModeMods();" th:field="*{dexterityEnhance}" th:placeholder="${character?.charSheet?.dexterityEnhance}" /></td>
									<td id="dexMod"></td>
								</tr>
								<tr th:with="conTotal = ${(character?.charSheet?.constitutionBase) + (character?.charSheet?.constitutionEnhance)}">
									<td>Constitution</td>
									<td id="conTotal" th:if="${editMode == false}" th:text="${conTotal}"></td>
									<td id="conBase" th:if="${editMode == true}"><input onblur="calculateEditModeMods();" th:field="*{constitutionBase}" th:placeholder="${character?.charSheet?.constitutionBase}" /></td>
									<td id="conEnhance" th:if="${editMode == true}"><input onblur="calculateEditModeMods();" th:field="*{constitutionEnhance}" th:placeholder="${character?.charSheet?.constitutionEnhance}" /></td>
									<td id="conMod"></td>
								</tr>
								<tr th:with="intTotal = ${(character?.charSheet?.intelligenceBase) + (character?.charSheet?.intelligenceEnhance)}">
									<td>Intelligence</td>
									<td id="intTotal" th:if="${editMode == false}" th:text="${intTotal}"></td>
									<td id="intBase" th:if="${editMode == true}"><input onblur="calculateEditModeMods();" th:field="*{intelligenceBase}" th:placeholder="${character?.charSheet?.intelligenceBase}" /></td>
									<td id="intEnhance" th:if="${editMode == true}"><input onblur="calculateEditModeMods();" th:field="*{intelligenceEnhance}" th:placeholder="${character?.charSheet?.intelligenceEnhance}" /></td>
									<td id="intMod"></td>
								</tr>
								<tr th:with="wisTotal = ${(character?.charSheet?.wisdomBase) + (character?.charSheet?.wisdomEnhance)}">
									<td>Wisdom</td>
									<td id="wisTotal" th:if="${editMode == false}" th:text="${wisTotal}"></td>
									<td id="wisBase" th:if="${editMode == true}"><input onblur="calculateEditModeMods();" th:field="*{wisdomBase}" th:placeholder="${character?.charSheet?.wisdomBase}" /></td>
									<td id="wisEnhance" th:if="${editMode == true}"><input onblur="calculateEditModeMods();" th:field="*{wisdomEnhance}" th:placeholder="${character?.charSheet?.wisdomEnhance}" /></td>
									<td id="wisMod"></td>
								</tr>
								<tr th:with="chaTotal = ${(character?.charSheet?.charismaBase) + (character?.charSheet?.charismaEnhance)}">
									<td>Charisma</td>
									<td id="chaTotal" th:if="${editMode == false}" th:text="${chaTotal}"></td>
									<td id="chaBase" th:if="${editMode == true}"><input onblur="calculateEditModeMods();" th:field="*{charismaBase}" th:placeholder="${character?.charSheet?.charismaBase}" /></td>
									<td id="chaEnhance" th:if="${editMode == true}"><input onblur="calculateEditModeMods();" th:field="*{charismaEnhance}" th:placeholder="${character?.charSheet?.charismaEnhance}" /></td>
									<td id="chaMod"></td>
								</tr>
							</tbody>
						</table>
					</div>
				
					<div class="col-md-6">
						<table class="table table-hover lower">
							<thead>
								<tr>
									<th>Property Name</th>
									<th>Property Value</th>
								</tr>
							</thead>
							
							<tbody>
								<tr>
									<td>Hit Die</td>
									<td th:if="${editMode == false}" th:text="${character?.charSheet?.hitDie}"></td>
									<td th:if="${editMode == true}"><input th:field="*{hitDie}" th:placeholder="${character?.charSheet?.hitDie}" /></td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
				
			</div>

			<div th:if="${editMode == false}">
				<script>
					disableFormElements();
				</script>
			</div>

		</div>
	</div>

	<script th:src="@{js/charSheet.js}"></script>
</body>
</html>