<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Page-specific CSS / JS -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"></link>
		<script th:src="@{js/form.js}"></script>
	</head>
	<section th:replace="fragments/theme/head :: head(Profile)"></section>
	<body>
		<section th:replace="fragments/theme/nav(Profile)"></section>
	
		<div class="single">
			<div class="container">
	
				
			</div>
		</div>
	
	</body>
</html>