<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Must go here due to a bug with putting fragments in head. -->
<link rel="icon" type="image/x-icon" href="img/icon.ico"></link>

<!-- Page-specific CSS / JS -->
<link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"></link>
<script th:src="@{js/form.js}"></script>
</head>
<section th:replace="fragments/theme/head :: head(Profile)"></section>
<body>
	<section th:replace="fragments/theme/nav(Profile)"></section>

	<div class="single">
		<div class="container">

			<div class="w3_single_grid">
				<div class="col-md-6 w3_single_grid_left">
					<div class="w3_single_grid_left_grid">
						<div class="wthree_element_grids">

							<div class="col-md-6 wthree_element_grid">
								<div class="wthree_element_grid1">
									<!-- Character Portrait -->
									<div class="hover14 column">
									
										<div>
											<!-- Character Portrait -->
											<figure th:if="${character?.image == null}">
												<img id="charPortrait" src="img/portraits/unknown.png" class="img-responsive portrait"></img>
											</figure>
											
											<figure th:if="${character?.image != null}">
												<img id="charPortrait" th:src="${character?.image}" class="img-responsive portrait"></img>
											</figure>
										</div>

									</div>

									<!-- Character Class -->
									<div class="wthree_element_grid1_pos">

										<h4 th:if="${character == null}"><span>Adventurer</span></h4>
										<h4 th:if="${character != null}"><span th:text="${character?.charClass?.name}"></span></h4>

									</div>
									
								</div>

								<!-- Edit Buttons -->
								<div th:switch="${editMode}">
									<div th:case="false" class="wthree_element_grid2">
										<form id="editForm" method="post" th:action="@{/editProfile}">
											<h1>
												<button id="editBtn" type="submit"
													class="label label-default">Edit</button>
											</h1>
										</form>
									</div>

									<div th:case="*" class="wthree_element_grid2">
										<h1>
											<button id="saveBtn" onclick="postForm('#saveForm');"
												class="label label-default">Save</button>
										</h1>

										<form id="cancelForm" method="get" th:action="@{/profile}">
											<h1>
												<button id="cancelBtn" type="submit"
													class="label label-default">Cancel</button>
											</h1>
										</form>
									</div>
								</div>
							</div>

							<div class="col-md-6 wthree_element_grid">
								<!-- Character Info -->
								<div class="col-md-12">
									<form th:if="${editMode == true}" id="saveForm" method="post"
										th:action="@{/profile}" th:object="${characterValidator}">
										<div class="row">
											<input th:field="*{name}" placeholder="Character Name"
												class="long-input" />
										</div>

										<div class="row lower">
											<select th:field="*{classId}" class="long-input">
												<option th:each="cls,iter : ${classList}"
														th:value="${iter.index}" th:text="${cls}" />
											</select>
										</div>
										
										<input id="imageField" type="hidden" th:field="*{image}" />
									</form>
									
									<div th:if="${editMode == false}" class="row">
										<h4>Name:</h4>
										<span th:text="${character?.name}"></span>
									</div>
									<div th:if="${editMode == false}" class="row lower">
										<h4>Class:</h4>
										<span th:text="${character?.charClass?.name}"></span>
									</div>
								</div>

								<div th:if="${editMode == false}">
									<script>
										disableFormElements();
									</script>
								</div>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div th:if="${editMode == true}">
			<section th:replace="fragments/ui/user/choose_portrait"></section>
		</div>
	</div>

</body>
</html>