<section th:fragment="choose_portrait">

	<div class="container">
		<div id="portraits" class="tab-content" style="margin-top: 5em;">
		
			<div role="tabpanel" class="tab-pane fade in active">
				<div class="tab_img">
					<div th:each="i : ${#numbers.sequence(1, 4)}"
						class="col-md-3 agile_gallery_grids">
						<a style="cursor: pointer; cursor: hand;" class="jzBoxLink">
							<div class="view view-sixth">
								<img th:src="${'img/portraits/' + i + '.png'}" class="img-responsive"></img>
							</div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane fade in active"
				style="margin-top: 1em;">
				<div class="tab_img">
					<div th:each="i : ${#numbers.sequence(5, 8)}"
						class="col-md-3 agile_gallery_grids">
						<a style="cursor: pointer; cursor: hand;" class="jzBoxLink">
							<div class="view view-sixth">
								<img th:src="${'img/portraits/' + i + '.png'}" class="img-responsive"></img>
							</div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane fade in active"
				style="margin-top: 1em;">
				<div class="tab_img">
					<div th:each="i : ${#numbers.sequence(9, 12)}"
						class="col-md-3 agile_gallery_grids">
						<a style="cursor: pointer; cursor: hand;" class="jzBoxLink">
							<div class="view view-sixth">
								<img th:src="${'img/portraits/' + i + '.png'}" class="img-responsive"></img>
							</div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>
	</div>

</section>