<section th:fragment="head(subtitle)">

	<head>
		<meta charset="utf-8"></meta>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	
		<title th:text="'DWG : ' + ${subtitle}"></title>
		
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<!-- Theme -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{/css/material-design.css}"></link>
		
		<!-- Custom Fonts -->
		<link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css"></link>
		<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css"></link>
		<link href="//cdn.materialdesignicons.com/1.7.22/css/materialdesignicons.min.css" rel="stylesheet" type="text/css"></link>
		
	</head>

</section>