<section th:fragment="map">

	<table class="table">
		<col width="25%" />
  		<col width="65%" />
  		<col width="10%" />
		<thead>
			<tr>
				<th>Landmark</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<select class="selectpicker">
						<option>- - -</option>
						<option>City</option>
					</select>
				</td>
				<td></td>
				<td>
					<h1>
						<a id="panBtn" class="label label-default">GO</a>
					</h1>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="well">
		<div id="map" class="pathfinderMap"/>
	</div>
	
	<div style="display: none;">
      <!-- Popup -->
      <div id="popup" title="Welcome to ol3"></div>
    </div>
	<script> 
      var extent = ol.proj.transformExtent([-179.99999997,-85.04855179,179.97013542,85.05112878],
                                     'EPSG:4326', 'EPSG:3857');
      var center = ol.proj.transform([30, 50],
                                     'EPSG:4326', 'EPSG:3857');
      var view = new ol.View({
        projection: 'EPSG:3857',
        center: center,
        zoom: 3
      });

      var overlay = new ol.layer.Tile({
        source: new ol.source.XYZ({
          urls:[
            'img/map/{z}/{x}/{y}.png'
          ],
          extent: extent,
          minZoom: 1,
          maxZoom: 3,
          tilePixelRatio: 1.000000
        })
      });

      var map = new ol.Map({
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          }),
          overlay
        ],
        renderer: 'canvas',
        target: 'map',
        view: view
      });
      
      var popup = new ol.Overlay({
          element: document.getElementById('popup')
        });
        map.addOverlay(popup);
  	  
  	   map.on('click', function(evt) {
          var element = popup.getElement();
          var coordinate = evt.coordinate;
          var hdms = ol.coordinate.toStringHDMS(ol.proj.transform(
              coordinate, 'EPSG:3857', 'EPSG:4326'));

          $(element).popover('destroy');
          popup.setPosition(coordinate);
          // the keys are quoted to prevent renaming in ADVANCED mode.
          $(element).popover({
            'placement': 'top',
            'animation': false,
            'html': true,
            'content': '<p>The location you clicked was:</p><code>' + hdms + '</code>'
          });
          $(element).popover('show');
        });
  	   
      var london = ol.proj.fromLonLat([-0.12755, 51.507222]);
      function onClick(id, callback) {
          document.getElementById(id).addEventListener('click', callback);
        }
      onClick('panBtn', function() {
          view.animate({
            center: london,
            zoom: 1,
            duration: 2000
          });
        });
    </script>
    
</section>