<section th:fragment="map">

	<table class="table">
		<col width="25%" />
  		<col width="65%" />
  		<col width="10%" />
		<thead>
			<tr>
				<th>Landmark</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<select class="selectpicker">
						<option>- - -</option>
						<option>City</option>
					</select>
				</td>
				<td></td>
				<td>
					<h1>
						<a id="panBtn" class="label label-default">GO</a>
					</h1>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="well">
		<div id="map" class="pathfinderMap"/>
	</div>
	
	<div style="display: none;">
      <!-- Popup -->
      <div id="popup" title="Welcome to ol3"></div>
    </div>
	
</section>