<div th:fragment="skills_table" class="col-md-12">
	<table class="table table-hover lower">
		<thead>
			<tr>
				<th>Skill Name</th>
				<th th:if="${editMode == true}">Trained Value</th>
				<th th:if="${editMode == true}">Bonus Value</th>
				<th th:if="${editMode == true}">Modifier</th>
				<th id="totalSkillsHeader" th:if="${editMode == false}">Total Value</th>
			</tr>
		</thead>

		<tbody>
			<tr th:with="acrobaticsTotal = ${(character?.skillBook?.acrobaticsBase) + (character?.skillBook?.acrobaticsEnhance)}">
				<td>Acrobatics</td>
				<td id="acrobaticsTotal" th:if="${editMode == false}"><span th:text="${acrobaticsTotal} + ' '"></span><span name="dexMod"></span> (DEX Mod)</td>
				<td id="acrobaticsBase" th:if="${editMode == true}"><input th:field="*{acrobaticsBase}" th:placeholder="${character?.skillBook?.acrobaticsBase}" /></td>
				<td id="acrobaticsEnhance" th:if="${editMode == true}"><input th:field="*{acrobaticsEnhance}" th:placeholder="${character?.skillBook?.acrobaticsEnhance}" /></td>
				<td th:if="${editMode == true}">DEX Mod = <span name="dexMod"></span></td>
			</tr>
			
			<tr th:with="appraiseTotal = ${(character?.skillBook?.appraiseBase) + (character?.skillBook?.appraiseEnhance)}">
				<td>Appraise</td>
				<td id="appraiseTotal" th:if="${editMode == false}"><span th:text="${appraiseTotal} + ' '"></span><span name="intMod"></span> (INT Mod)</td>
				<td id="appraiseBase" th:if="${editMode == true}"><input th:field="*{appraiseBase}" th:placeholder="${character?.skillBook?.appraiseBase}" /></td>
				<td id="appraiseEnhance" th:if="${editMode == true}"><input th:field="*{appraiseEnhance}" th:placeholder="${character?.skillBook?.appraiseEnhance}" /></td>
				<td th:if="${editMode == true}">INT Mod = <span name="intMod"></span></td>
			</tr>
			
			<tr th:with="bluffTotal = ${(character?.skillBook?.bluffBase) + (character?.skillBook?.bluffEnhance)}">
				<td>Bluff</td>
				<td id="bluffTotal" th:if="${editMode == false}"><span th:text="${bluffTotal} + ' '"></span><span name="chaMod"></span> (CHA Mod)</td>
				<td id="bluffBase" th:if="${editMode == true}"><input th:field="*{bluffBase}" th:placeholder="${character?.skillBook?.bluffBase}" /></td>
				<td id="bluffEnhance" th:if="${editMode == true}"><input th:field="*{bluffEnhance}" th:placeholder="${character?.skillBook?.bluffEnhance}" /></td>
				<td th:if="${editMode == true}">CHA Mod = <span name="chaMod"></span></td>
			</tr>
			
			<tr th:with="climbTotal = ${(character?.skillBook?.climbBase) + (character?.skillBook?.climbEnhance)}">
				<td>Climb</td>
				<td id="climbTotal" th:if="${editMode == false}"><span th:text="${climbTotal} + ' '"></span><span name="strMod"></span> (STR Mod)</td>
				<td id="climbBase" th:if="${editMode == true}"><input th:field="*{climbBase}" th:placeholder="${character?.skillBook?.climbBase}" /></td>
				<td id="climbEnhance" th:if="${editMode == true}"><input th:field="*{climbEnhance}" th:placeholder="${character?.skillBook?.climbEnhance}" /></td>
				<td th:if="${editMode == true}">STR Mod = <span name="strMod"></span></td>
			</tr>
			
			<tr th:with="diplomacyTotal = ${(character?.skillBook?.diplomacyBase) + (character?.skillBook?.diplomacyEnhance)}">
				<td>Diplomacy</td>
				<td id="diplomacyTotal" th:if="${editMode == false}"><span th:text="${diplomacyTotal} + ' '"></span><span name="chaMod"></span> (CHA Mod)</td>
				<td id="diplomacyBase" th:if="${editMode == true}"><input th:field="*{diplomacyBase}" th:placeholder="${character?.skillBook?.diplomacyBase}" /></td>
				<td id="diplomacyEnhance" th:if="${editMode == true}"><input th:field="*{diplomacyEnhance}" th:placeholder="${character?.skillBook?.diplomacyEnhance}" /></td>
				<td th:if="${editMode == true}">CHA Mod = <span name="chaMod"></span></td>
			</tr>
			
			<tr th:with="disableDeviceTotal = ${(character?.skillBook?.disableDeviceBase) + (character?.skillBook?.disableDeviceEnhance)}">
				<td>Disable Device</td>
				<td id="disableDeviceTotal" th:if="${editMode == false}"><span th:text="${disableDeviceTotal} + ' '"></span><span name="dexMod"></span> (DEX Mod)</td>
				<td id="disableDeviceBase" th:if="${editMode == true}"><input th:field="*{disableDeviceBase}" th:placeholder="${character?.skillBook?.disableDeviceBase}" /></td>
				<td id="disableDeviceEnhance" th:if="${editMode == true}"><input th:field="*{disableDeviceEnhance}" th:placeholder="${character?.skillBook?.disableDeviceEnhance}" /></td>
				<td th:if="${editMode == true}">DEX Mod = <span name="dexMod"></span></td>
			</tr>
			
			<tr th:with="disguiseTotal = ${(character?.skillBook?.disguiseBase) + (character?.skillBook?.disguiseEnhance)}">
				<td>Disguise</td>
				<td id="disguiseTotal" th:if="${editMode == false}"><span th:text="${disguiseTotal} + ' '"></span><span name="chaMod"></span> (CHA Mod)</td>
				<td id="disguiseBase" th:if="${editMode == true}"><input th:field="*{disguiseBase}" th:placeholder="${character?.skillBook?.disguiseBase}" /></td>
				<td id="disguiseEnhance" th:if="${editMode == true}"><input th:field="*{disguiseEnhance}" th:placeholder="${character?.skillBook?.disguiseEnhance}" /></td>
				<td th:if="${editMode == true}">CHA Mod = <span name="chaMod"></span></td>
			</tr>
			
			<tr th:with="escapeArtistTotal = ${(character?.skillBook?.escapeArtistBase) + (character?.skillBook?.escapeArtistEnhance)}">
				<td>Escape Artist</td>
				<td id="escapeArtistTotal" th:if="${editMode == false}"><span th:text="${escapeArtistTotal} + ' '"></span><span name="dexMod"></span> (DEX Mod)</td>
				<td id="escapeArtistBase" th:if="${editMode == true}"><input th:field="*{escapeArtistBase}" th:placeholder="${character?.skillBook?.escapeArtistBase}" /></td>
				<td id="escapeArtistEnhance" th:if="${editMode == true}"><input th:field="*{escapeArtistEnhance}" th:placeholder="${character?.skillBook?.escapeArtistEnhance}" /></td>
				<td th:if="${editMode == true}">DEX Mod = <span name="dexMod"></span></td>
			</tr>
			
			<tr th:with="flyTotal = ${(character?.skillBook?.flyBase) + (character?.skillBook?.flyEnhance)}">
				<td>Fly</td>
				<td id="flyTotal" th:if="${editMode == false}"><span th:text="${flyTotal} + ' '"></span><span name="dexMod"></span> (DEX Mod)</td>
				<td id="flyBase" th:if="${editMode == true}"><input th:field="*{flyBase}" th:placeholder="${character?.skillBook?.flyBase}" /></td>
				<td id="flyEnhance" th:if="${editMode == true}"><input th:field="*{flyEnhance}" th:placeholder="${character?.skillBook?.flyEnhance}" /></td>
				<td th:if="${editMode == true}">DEX Mod = <span name="dexMod"></span></td>
			</tr>
			
			<tr th:with="handleAnimalTotal = ${(character?.skillBook?.handleAnimalBase) + (character?.skillBook?.handleAnimalEnhance)}">
				<td>Handle Animal</td>
				<td id="handleAnimalTotal" th:if="${editMode == false}"><span th:text="${handleAnimalTotal} + ' '"></span><span name="chaMod"></span> (CHA Mod)</td>
				<td id="handleAnimalBase" th:if="${editMode == true}"><input th:field="*{handleAnimalBase}" th:placeholder="${character?.skillBook?.handleAnimalBase}" /></td>
				<td id="handleAnimalEnhance" th:if="${editMode == true}"><input th:field="*{handleAnimalEnhance}" th:placeholder="${character?.skillBook?.handleAnimalEnhance}" /></td>
				<td th:if="${editMode == true}">CHA Mod = <span name="chaMod"></span></td>
			</tr>
		</tbody>
	</table>
</div>